In [2]:
from pathlib import Path
import pandas as pd

In [3]:
# load dataset into the pandas dataframe

DATA_PATH = Path("..\\data\\Telco_Customer_Churn_Dataset  (3).csv")
df = pd.read_csv(DATA_PATH)

# Confirm that the dataset is loaded
print("Dataset loaded successfullly....")

Dataset loaded successfullly....

In [11]:
# Standardize column name:
# Convert all to lowercase 

df.columns = df.columns.str.lower()
df.columns

Index(['customerid', 'gender', 'seniorcitizen', 'partner', 'dependents',
       'tenure', 'phoneservice', 'multiplelines', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
       'paymentmethod', 'monthlycharges', 'totalcharges', 'churn'],
      dtype='object')

In [13]:
# Checking for missing values per columns

missing_values = df.isnull().sum()

missing_values

customerid          0
gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
multiplelines       0
internetservice     0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
paperlessbilling    0
paymentmethod       0
monthlycharges      0
totalcharges        0
churn               0
dtype: int64

In [15]:
# Separate and Classify columns into Numerical and Categorical

numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns   # identify numerical columns

categorical_cols = df.select_dtypes(include=['object']).columns   # identify categorical columns

In [16]:
# Check for duplicate rows

df.duplicated().sum()

np.int64(0)

In [28]:
# Convert the 'totalcharges' column to float dtype

print("Unique problematic values:")
df['totalcharges'].unique()   # check unique problematic values in the column

Unique problematic values:

array([  29.85, 1889.5 ,  108.15, ...,  346.45,  306.6 , 6844.5 ])

In [29]:
df['totalcharges'] = pd.to_numeric(df['totalcharges'], errors='coerce')     # convert dtype to numerical

In [30]:
df['totalcharges'].dtype    # validate conversion

dtype('float64')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerid        7043 non-null   object
 1   gender            7043 non-null   object
 2   seniorcitizen     7043 non-null   int64
 3   partner           7043 non-null   object
 4   dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   phoneservice      7043 non-null   object
 7   multiplelines     7043 non-null   object
 8   internetservice   7043 non-null   object
 9   onlinesecurity    7043 non-null   object
 10  onlinebackup      7043 non-null   object
 11  deviceprotection  7043 non-null   object
 12  techsupport       7043 non-null   object
 13  streamingtv       7043 non-null   object
 14  streamingmovies   7043 non-null   object
 15  contract          7043 non-null   object
 16  paperlessbilling  7043 non-null   object
 17  paymentmethod     7043 non-null   object
 18  monthlycharges    7043 non-null   float64
 19  totalcharges      7032 non-null   float64
 20  churn             7043 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB